#levels-box {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 22em;
    height: 20em;
    display: none;
}

.levels {
    position: relative;
    justify-content: center;
    width: 12em;
    height: 3.5em;
    margin: 2.05em auto;
}

.level-buttons {
    position: relative;
    background-color: white;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 100%;
    border-radius: 0.4em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

.level-buttons:hover {
    background-color: aliceblue;
    cursor: pointer;
}

@keyframes show-levels {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hide-levels {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
