#loading-box {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#loading-present {
    color: black;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.2em;
}

#progress-bar {
    width: 15em;
    height: 0.3em;
    background-color: cornflowerblue;
    border-radius: 0.4em;
}

#progress {
    width: 60%;
    height: 100%;
    background-color: black;
    border-radius: 0.5em;
}

