#loader {
    position: relative;
    height: 0.15em;
    width: 26em;
    justify-content: center;
    vertical-align: middle;
    background: #fff;
    display: none;
}

.circle {
    position: absolute;
    top: -30px;
    margin-left: -30px;
    height: 60px;
    width: 60px;
    left: 0;
    background: #fff;
    border-radius: 30%;
    -webkit-animation: move 2s infinite;
}

.loading {
    position: absolute;
    top: -27px;
    right: -85px;
    text-transform: uppercase;
    color: cornflowerblue;
    font-family: helvetica, sans-serif;
    font-weight: bold;
}

@-webkit-keyframes move {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
        -webkit-transform: rotate(450deg);
        width: 150px;
        height: 150px;
    }
    75% {
        left: 100%;
        -webkit-transform: rotate(450deg);
        width: 150px;
        height: 150px;
    }
    100% {
        right: 100%;
    }
}

@keyframes show-loader {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hide-loader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}